.player-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  flex-basis: 18%;

  .player-icon-wrapper {
    font-size: 33px;
    text-transform: capitalize;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    &.active {
      .player-icon {
        background: linear-gradient(#e66465, #9198e5);
        background-size: 120%;
      }
      .playerHeroImg {
        animation: pulse 1s infinite;
      }
    }
    .player-icon {
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 120px;
      border-radius: 100%;
      display: flex;;
      align-items: center;
      .hero-power-img-wrapper {
        height: 69px;
        width: 69px;
        border-radius: 65px;
        background-color: sandybrown;
        position: absolute;
        right: -80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 60px;
        width: 60px;
      }
      span {
        position: absolute;
        right: -55px;
        top: 0px;
      }
    }
    .playerHeroImg {
      border-radius: 120px;
      height: 114px;
      width: 114px;
      z-index: 55;
      background-size: 160%;
      background-position: center -20px;
      border: 3px solid lightblue;
    }
  }


  .player-stats-wrapper {
    display: flex;
    gap: 20px;
    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      img {
        height: 40px;
      }
      span {
        font-size: 60px;
      }
    }

    .player-hp {
      &.red {
        color: #d03e49
      }
      &.green {
        color: #27ab37
      }
    }

    .mana-section {
      color: $blue-text;
    }
  }


  .player-hand {
    display: flex;
    align-items: center;
    justify-content: center;

    &.player-1 {
      .hand-card:hover {
        top: -40px;
      }
    }
    &.player-2 {
      .hand-card:hover {
        top: -90px;
      }
    }
    .hand-card-wrapper {
      position: relative;
      height: 100px;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      .hand-card {
        cursor: pointer;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        &:hover {
          left: -30px;
          height: 200px;
          width: 140px;
          z-index: 10;
        }
      }
    }
    }

}


@keyframes pulse{
  0% {
    transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}



